@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/** global **/
body {
	margin:0px auto;
	padding:0;
	background: #80B763;
	font-family: "Source Sans Pro","sans-serif";
	font-size: 1.0em;
	color:#666;
	height:100px;
}
* {
	margin:0;
	padding:0;
}



code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#6FAB4F;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button { 
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed { 
    background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	padding-right:10px;
	color:#999;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family: "Source Sans Pro","sans-serif";
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family: "Source Sans Pro","sans-serif";
	border:1px solid #ddd;
}
fieldset form input.formbutton {
border:none;
    background-color: #80B763;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;


}
h1 {
	font-size:2.4em;
}
h2 {
	color:#2f2f2f;
	font-size:1.8em;
	font-weight:bold;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#80B763;
	font-size:1.6em;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}






/** header **/
header {
	padding:30px 17px 30px;
	margin:0 auto;
}
header h1 { 
	text-align: right;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
	letter-spacing:-2px;
}

header h2 {
	color:#C4DDB6;
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
}


/** body **/
section#body {
	padding: 0;
	background: #80B763;
	height:100px;
}


/** content+sidebar styles **/
section#content {
	margin-left: 250px;
	padding: 20px;
	background-color: #fff;
	
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:18%;
	position: fixed;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #99C581;
	border-top: 1px solid #6FAB4F;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#80B763;
	font-weight:bold;
	background: #fff;
}
nav#mainnav li a:hover {
	background:#669D48;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #f0f0f0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-size:13px;
	font-weight:  bold;
	text-decoration: none;
}




article {
    padding: 10px 10px 30px;
	font-size: 1.2em;
border-bottom: 1px solid #eee;
 }

article h2 {
    padding-bottom: 0;
	line-height: 1.1em;
	letter-spacing: -2px;
   font-size: 2.5em;
}

article .article-info {
  color: #C0c0c0;
font-size: 0.92em;
padding: 0px 0px 10px;
}

article .article-info a { 
	color: #ccc;
}



/** footer **/
footer {
	padding:20px 0px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}





@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }	


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0px; }

	header h1, header h2, nav#mainnav li a { text-align:center; }
	
	section#content, aside#sidebar { position: relative; float: none; width: auto; margin-left: 0; }

	
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }


	nav#mainnav ul li a { margin-top: 0; padding: 1em; }


}



	
	
	* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column a {
    margin-top: 8px;
    vertical-align: middle;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    
   
    table { 
  width: 100%; 
  border-collapse: collapse; 
}
}

    @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
		  .title_h1 {
    display: inline-block!important;
    font-size: 18px;
    position: absolute;
    width: 80%;
    top: 15px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.title_h1 a {
    color: #6FAB4F;
    color: #fff;
    text-transform: uppercase;
}
		  
          ul li a h2{
         font-size: 18px;
    padding: 15px 0px;
    color: #80b763;
    }
	.navbar-inverse li{
		padding-bottom:20px;
	}
	
	
	
    .navbar-toggle {
    border-color: transparent !important;
}
 .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}

.form-group.col-xs-6{
	width:100%;
	display:block;
	
}

.form-group.col-xs-3 {
    width: 50%;
}

.radio label{
	    margin-right: 15px;
}
          li a {
    padding: 15px 0px;
    font-size: 14px;
    color: #fff;
}
          .side-collapse-container.out{
              left:200px;
          }
          ol, ul {
   margin: 0 0 35px 5px;
    list-style: none;
}
.navbar-collapse li a:focus, .navbar-collapse li a:active, .navbar-collapse li a:hover  {
	color:#fff;
	border-bottom:none;
	
}
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:100%;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }

.nav#mainnav li a{
	font-size:14px !important;
}


	
	
	
