.carousel-section {
    /* background: url(../images/slide-1.jpg) no-repeat fixed; */
	background:#000;
    background-size: cover;
    overflow: hidden;
	height:211px;
}

@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

}

.height60 {
    height: 60px !important;
}
.form-control {
    height: 40px;
    padding: 20px;
    line-height: 25px;
    font-weight: 300;
    color: #202020;
    border-radius: 0;
	margin-right:5px;
}

.btn {
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 30px;
    padding: 20px 58px;
	
}
.search_section	{
	position:relative; 
	width:100%;
	
}

section#search {
    padding: 20px;
    background-color: #ddd;
}
ul .heading{
	background:sky-blue;
}
ul .subgroup{
	background:sky-blue;
}
.heading {
      font-size: 16px;
    background: blue;
    width: 100px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
}
.subgroup{
    font-size: 16px;
    background: blue;
    width: 330px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
}
.variety{
	font-size: 16px;
    background: blue;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
}
ul, ol {
    margin: 10px 0px;
}
.variety.search_v{
	padding:0px;
}
.variety.search_v  input{
	padding: 8px 10px;
    background: transparent;
}
.total_table tr:first-child{
	background:yellow;
}
.table
{
	width:70%;margin: 50px 0px;
	margin-bottom:0px !important;
}
.table tr.thead td{
	border-top:1px solid transparent;
}
.total_table{
	margin-top:0px !important;
}
.pull-right{
	float:right;
}
.button_outer{
text-align:right;	
}
.button_outer  .btn{
	color:#fff;
	background:green;
	padding:10px 15px;border-radius:4px;
}
.variety select{
	background: transparent;
    border: none;
    padding: 10px;
}
.variety_select{
	padding:0px !important;
}
.full_address{
	padding-left:8px !important;
	padding-right:5px !important;
}
.search_section{
	padding: 20px;
    background: #888;
    height: 200px;
}
.form-group{
	width:370px;
}
 .form-group  .form-control{
	 width:350px;
 }
 .search_section form{
	 top: 70px;
    position: absolute;
 }
 @media screen and (max-width: 991px) {
 .btn-success {
    width: 100% !important;
    border-radius: 0px;
    height: 36px;
    font-size: 14px;
    padding: 0px 0px;
}
#content article{
    height:100% !important;
}

.table{
	width:100% !important; 
}
.variety{
	margin-bottom:5px !important; width:100%;
}
.full_address{
	background:transparent !important;	
}
.full_address select{
	background:#ddd !important; color:#000;margin-bottom:5px; width:100% !important;
}
 .search_section{
	 width:100%; padding: 0px; height:240px;
 }
 
 .form-inline{
  top:0px !important;
  padding: 15px !important; 
  height:36px !important;
 }
 
 .search_section .form-control, .search_section .form-inline{
	 width:100% !important;
 }
 .form-group{
	 width:100%;
 }
 .search_section .form-control{
	 height:36px !important; margin-bottom:10px;
 }
.variety.search_v input{
	padding: 8px 10px;
    background: transparent;
    border: 0px;
    height: 39px;
}
 }
 