<!-- <p> -->
<!-- search works! -->
<!-- Type of search is---- {{type}} with name---- {{name}} -->

<!-- .....{{returnUrl}} -->
<!-- </p> -->


<div class="search_section">


	<!-- Wrapper for slides -->

	<form name="form" class="form-inline" (ngSubmit)="search()">
		<select class="form-control height60" style="padding: 6px 12px;"
			name="type" [(ngModel)]="searchInput.searchType">
			<option value="Crop">Crop</option>
			<option value="Farm">Farm</option>
		</select>
		<div class="form-group">
			<!-- <ss-multiselect-dropdown name="optionsModel" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)" [settings]="mySettings"  [texts]="myTexts" ></ss-multiselect-dropdown>	   
  -->
			<input type="text" [(ngModel)]="searchInput.cropName" name="cropName"
				class="form-control height60" id="cropName"
				placeholder="Farm or Crop name"> <input type="text"
				[(ngModel)]="searchInput.location" name="location"
				class="form-control height60" id="location"
				placeholder="State/District">
		</div>
		<button type="submit" class="btn btn-success">SEARCH</button>
	</form>
</div>

<!-- <div>
		<ul><li class="heading">Crop</li><li class="subgroup">Wheat</li></ul>
		<ul><li class="heading">Farm</li><li class="subgroup">Muradabad</li></ul>
		</div>
		 -->
<div>
	<!-- 	   <ul><li class="variety">Crop Name</li><li class="variety">Crop type</li><li class="variety">Location/ optional</li>
	   <li class="variety search_v"><input type="button" value="Search"></li>
	   </ul>
 -->
	<table class="table">
		<tr class="thead">
			<td></td>
			<td>Crop</td>
			<td>Crop type</td>
			<td>Location</td>
			<td>Volume</td>
		</tr>
		<tr *ngFor="let searchResult of searchResults">
			<td><input type="radio" value="{{searchResult.id}}"
				name="cropId" [(ngModel)]="selectedCropId" /></td>
			<td>{{searchResult.cropName}}</td>
			<td>{{searchInput.searchType}}</td>
			<td>{{searchResult.location}}</td>
			<td><input type="number"  [(ngModel)]="order.quantity" name="selectedVolume"
				 max="{{searchResult.volume}}" /> out of {{searchResult.volume}} tons</td>
		</tr>

	</table>
	<table class="table total_table">
		<!-- <tr class="thead">
			<td>Wheat and Maize</td>
			<td>Total Volume 9 kuntal</td>
			<td>total amount</td>
			<td>20000</td>
		</tr> -->
		<tr>
			<td colspan="4" class="button_outer"><input type="button"
				(click)="createOrder()" value="Book" class="button btn"></td>
		</tr>
	</table>

</div>

<!--  <ul><li class="variety">Farm</li><li class="variety variety_select"><select><option>- Select field size -</option><option></option></select></li>
	   </ul>
	   
	   <ul><li class="variety">Location - Muradabad</li>
	   <li class="variety">Field size: 600 hectare</li>
	   
	   <li class="variety variety_select"><select><option>- Select location -</option><option></option></select></li>
	   </ul>
	   
	   <ul><li class="variety variety_select full_address">Select location <select><option>- Country -</option><option></option></select>
	   <select><option>- State -</option><option></option></select>
	   <select><option>- Distict -</option><option></option></select> <select><option>Address/pincode</option><option></option></select>
	   </li>
	   	   <li class="variety search_v"><input type="button" value="Search"></li>

	   
	   </ul>
 -->
<!-- 	   <table class="table"><tr><td colspan="4" class="button_outer"><input type="button" value="Book" class="button btn"></td></tr>
</table>
 -->
<script>
	window.addEventListener('DOMContentLoaded', function() {
		console.log('window - DOMContentLoaded - capturemmmmmmmmmm'); // 1st
	}, true);
</script>
